<!DOCTYPE html>
<html lang="<%= Sketchup.get_locale %>">

<head>

    <meta charset="UTF-8">
    <meta name="x-copyright" content="© 2021 Samuel Tallet">
    <meta name="x-license" content="GNU General Public License 3.0">

	<title><%= NAME %></title>

	<%= scripts['lib/list.js'] %>
	<%= scripts['material-browser.js'] %>

	<%= styles['material-browser.css'] %>

</head>

<body>

    <div class="filters-overlay">

        <% option_value_to_select = SESSION[:settings].get_source_filter_value %>
        <select class="filter-by-source">

            <option value="all"
                <%= option_value_to_select == 'all' ? 'selected' : '' %>
            >**<%= TRANSLATE['All sources'] %>**
            </option>

            <option value="active_model"
                <%= option_value_to_select == 'active_model' ? 'selected' : '' %>
            ><%= TRANSLATE['Active model'] %>
            </option>

            <option value="skm_collections"
                <%= option_value_to_select == 'skm_collections' ? 'selected' : '' %>
            ><%= TRANSLATE['SKM collections'] %>
            </option>

            <option value="texture_haven"
                <%= option_value_to_select == 'texture_haven' ? 'selected' : '' %>
            ><%= TRANSLATE['Texture Haven'] %>
            </option>

        </select>

        <button class="validate-filters"><%= TRANSLATE['Validate filters'] %></button>

    </div>

    <div id="materials">

        <%
        zoom_in_icon_uri = Utils.path2uri(
            File.join(HTMLDialogs::DIR, 'img', 'zoom-in-icon.svg')
        )

        zoom_out_icon_uri = Utils.path2uri(
            File.join(HTMLDialogs::DIR, 'img', 'zoom-out-icon.svg')
        )

        skm_folder_icon_uri = Utils.path2uri(
            File.join(HTMLDialogs::DIR, 'img', 'skm-folder-icon.svg')
        )

        filter_icon_uri = Utils.path2uri(
            File.join(HTMLDialogs::DIR, 'img', 'filter-icon.svg')
        )

        sketchup_logo_uri = Utils.path2uri(
            File.join(HTMLDialogs::DIR, 'img', 'sketchup-logo.svg')
        )

        th_logo_uri = Utils.path2uri(
            File.join(HTMLDialogs::DIR, 'img', 'texture-haven-logo.svg')
        )
        %>

        <div class="toolbar">

            <div class="vertical">

                <div class="zoom">

                    <img class="in icon" src="<%= zoom_in_icon_uri %>">
    
                    <input type="range" class="slider"
                        value="<%= SESSION[:settings].get_zoom_value %>"
                        min="64" max="256" step="8"
                    />
                    
                    <img class="out icon" src="<%= zoom_out_icon_uri %>">
                    
                </div>

                <img
                    class="filter icon"
                    src="<%= filter_icon_uri %>"
                    title="<%= TRANSLATE['Filter by source, etc.'] %>"
                />

                <img
                    class="skm-folder icon"
                    src="<%= skm_folder_icon_uri %>"
                    title="<%= TRANSLATE['Use a custom SKM folder'] %>"
                />

            </div>

            <div class="horizontal">

                <input
                    type="text"
                    class="search"
                    placeholder="<%= TRANSLATE['Search by name'] %>"
                />

                <% option_value_to_select = SESSION[:settings].get_display_value %>
                <select class="display">
                    
                    <option value="nothing_more"
                        <%= option_value_to_select == 'nothing_more' ? 'selected' : '' %>
                    ><%= TRANSLATE['Display...'] %>
                    </option>
    
                    <option value="name"
                        <%= option_value_to_select == 'name' ? 'selected' : '' %>
                    ><%= TRANSLATE['Display name'] %>
                    </option>
    
                    <option value="source"
                        <%= option_value_to_select == 'source' ? 'selected' : '' %>
                    ><%= TRANSLATE['Display source'] %>
                    </option>
    
                    <option value="name_and_source"
                        <%= option_value_to_select == 'name_and_source' ? 'selected' : '' %>
                    ><%= TRANSLATE['Display name and source'] %>
                    </option>
    
                </select>

            </div>
            
        </div>

        <ul class="list">

            <%
            SESSION[:model_materials].each do |model_material|
            %>
            <li class="material" data-source="active_model">

                <img
                    class="model-material thumbnail"
                    src="<%= model_material[:thumbnail_uri] %>"
                    width="96"
                    height="96"
                    title="<%= model_material[:display_name] %> <%= TRANSLATE['in model'] %>"
                    data-name="<%= model_material[:name] %>"
                />

                <span class="name"><%= model_material[:display_name] %></span>

            </li>
            <%
            end
            %>

            <%
            SESSION[:skm_files].each do |skm_file|
            %>
            <li class="material" data-source="skm_collections">

                <a href="https://www.sketchup.com/">
                    <img class="source-logo" src="<%= sketchup_logo_uri %>" title="SKM collections" />
                </a>

                <img
                    class="skm-file thumbnail"
                    src="<%= skm_file[:thumbnail_uri] %>"
                    width="96"
                    height="96"
                    title="<%= skm_file[:display_name] %>"
                    data-path="<%= skm_file[:path] %>"
                />

                <span class="name"><%= skm_file[:display_name] %></span>

            </li>
            <%
            end
            %>

            <%
            SESSION[:th_materials].each do |th_material|
            %>
            <li class="material" data-source="texture_haven">

                <a href="<%= TextureHaven::BASE_URL %>">
                    <img class="source-logo" src="<%= th_logo_uri %>" title="Texture Haven" />
                </a>

                <img
                    class="th-material thumbnail"
                    src="<%= th_material[:thumbnail_uri] %>"
                    width="96"
                    height="96"
                    title="<%= th_material[:display_name] %>"
                    data-texture-url="<%= th_material[:texture_url] %>"
                    data-texture-size="<%= th_material[:texture_size] %>"
                    data-display-name="<%= th_material[:display_name] %>"
                />

                <span class="name"><%= th_material[:display_name] %></span>

            </li>
            <%
            end
            %>

        </ul>

    </div>

</body>

</html>
