/**
 * Material Browser (MBR) UI.
 *
 * Package: MBR extension for SketchUp
 *
 * Copyright: © 2021 Samuel Tallet
 *
 * Licence: GNU General Public License 3.0
 */

body {

    font-family: Arial, sans-serif;
    font-size: 13px;

}

.toolbar {

    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    text-align: center;

    background: white;

    padding-bottom: 20px;

    z-index: 1;

}

.toolbar .icon {

    width: 24px;
    height: 24px;

}

.toolbar .zoom {

    position: relative;
    top: 7px;
    left: 0;

}

.toolbar .zoom .icon {

    position: absolute;
    left: 11px;

}

.toolbar .zoom .in.icon {
    top: 0;
}

.toolbar .zoom .out.icon {
    top: 111px;
}

.toolbar .zoom .slider {

    position: absolute;
    left: -44px;
    top: 28px;

    -webkit-appearance: slider-vertical;
    cursor: -webkit-grab;
    
}

.toolbar .search,
.toolbar .display {

    padding: 5px;

    border-style: solid;
    border-color: rgb(221, 221, 221);
    border-width: 1px;
    border-radius: 5px;
    
}

.toolbar .search:focus,
.toolbar .display:focus {
    outline: none;
}

.toolbar .search {

    width: 160px;

    margin-left: 16px;

}

.toolbar .display {

    width: 192px;
    margin-left: 1px;

}

.toolbar .skm-folder.icon {

    position: relative;
    top: 7px;
    left: 0;

    cursor: pointer;

}

.list {

    list-style: none;

    margin-top: 50px;
    
}

.material {

    position: relative;
    display: inline-block;

    margin-right: 5px;

    cursor: pointer;

}

.material .provider-logo {

    display: none;
    position: absolute;
    top: 5px;
    left: 5px;

    width: 32px;
    height: 32px;

    opacity: 0.8;

}

.material .provider-logo.displayed {
    display: block;
}

.material .name {

    display: none;
    position: absolute;
    bottom: 4px;
    left: 0;

    width: 100%;

    background: rgba(0, 0, 0, 0.5);
    color: white;

    text-align: center;

}

.material .name.displayed {
    display: block;
}