/**
 * Material Browser (MBR) UI.
 *
 * Package: MBR extension for SketchUp
 *
 * Copyright: © 2025 Samuel Tallet
 *
 * Licence: GNU General Public License 3.0
 */

:root {
    /* Palette */
    --brown: #D77F41;
    --orange: #F4B24A;
    --dark-green: #6AB886;
    --light-blue: #45B0D8;
    --dark-blue: #3884C3;
    --purple: #6F4994;
    --light-green: #9BCB63;
}

.clickable {
    cursor: pointer;
}

*:focus {
    outline: none;
}

.hidden {
    display: none !important;
}

body {
    font-family: Arial, sans-serif;
    font-size: 15px;
}

input[type="checkbox"] {

    position: relative;
    top: 2.5px;
    left: 0;

}

button {
    border-color: transparent;
    border-radius: 5px;

    padding: 5px;
    
    background-color: var(--dark-green);
    color: black;
}

input[type="text"],
select {

    padding: 5px;

    border-style: solid;
    border-color: rgb(221, 221, 221);
    border-width: 1px;
    border-radius: 5px;
    
}

#settings {
    display: none;

    min-width: 525px;

    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);

    font-size: 15px;
    text-align: center;
    
    z-index: 2;
}

#settings.displayed {
    display: table; /* Fix blurry text bug */
}

#settings .elements {
    display: flex;
    gap: 10px;
}

#settings .close:hover {
    transform: scale(1.1);
}

#loading {

    display: none;

    width: 100%;
    height: 100%;

    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);

    z-index: 2;

}

#loading.displayed {
    display: block;
}

#loading .logo {

    width: 100%;
    height: 100%;

    position: absolute;
    left: 0;
    top: -15px; /* Let room for text */

}

#loading .logo .card {
    transition: opacity .5s;
}

#loading .status {

    position: absolute;
    left: 0;
    bottom: 0;
    padding: 10px;

    font-size: 15px;

}

#toolbar {

    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    text-align: center;

    margin-top: 10px;

    z-index: 1;

}

#toolbar .icon {

    display: block;

    width: 24px;
    height: 24px;

    margin-top: 6px;

}

#toolbar .icon:hover {
    transform: scale(1.1);
}

/* Toolbar icon tooltip */
[data-identifiers^=".icon[title]"] {
    margin-left: 10px;
    margin-top: 5px;
}

[data-identifiers^=".icon[title]"] {
    border-radius: 5px;
}

[data-identifiers=".icon[title]_0"],
[data-identifiers=".icon[title]_0"] .bg {
    color: var(--brown) !important;
    background: var(--brown) !important;
}

[data-identifiers=".icon[title]_1"],
[data-identifiers=".icon[title]_1"] .bg {
    color: var(--orange) !important;
    background: var(--orange) !important;
}

[data-identifiers=".icon[title]_2"],
[data-identifiers=".icon[title]_2"] .bg {
    color: var(--dark-green) !important;
    background: var(--dark-green) !important;
}

[data-identifiers=".icon[title]_3"],
[data-identifiers=".icon[title]_3"] .bg {
    color: var(--light-blue) !important;
    background: var(--light-blue) !important;
}

[data-identifiers=".icon[title]_4"],
[data-identifiers=".icon[title]_4"] .bg {
    color: var(--dark-blue) !important;
    background: var(--dark-blue) !important;
}

[data-identifiers=".icon[title]_5"],
[data-identifiers=".icon[title]_5"] .bg {
    color: var(--purple) !important;
    background: var(--purple) !important;
}

[data-identifiers^=".icon[title]"] .content {
    color: black !important;
    font-size: 15px;
}

[data-identifiers=".icon[title]_0"] .content,
[data-identifiers=".icon[title]_4"] .content,
[data-identifiers=".icon[title]_5"] .content {
    color: white !important;
}

#toolbar .vertical {

    position: absolute;
    top: 0;
    left: 0;

    width: 30px;

    margin-top: 6px;
    margin-left: 11px;

}

#toolbar .zoom {
    overflow: hidden;
}

#toolbar .zoom .icon {
    margin-top: 0;
}

#toolbar .zoom .slider {

    position: relative;
    left: -55px;
    top: 0;

    height: 120px;

    -webkit-appearance: slider-vertical; /* For Chrome 52 (SketchUp 2017) */
    appearance: slider-vertical;

    cursor: -webkit-grab; /* For Chrome 52 (SketchUp 2017) */
    cursor: grab;

}

#toolbar .search {
    margin-left: 16px;
}

#toolbar .filter-by-type {
    margin-left: 2px;
}

.list {

    list-style: none;

    margin-top: 50px;
    
}

.material {

    position: relative;
    display: inline-block;

    margin-right: 6px;

    overflow: hidden;

}

.material .source-logo {

    display: none;
    position: absolute;
    top: 5px;
    left: 5px;

    width: 32px;
    height: 32px;

    opacity: 0.8;

}

.material .source-logo.displayed {
    display: block;
}

.material .name {

    display: none;
    position: absolute;
    bottom: 4px;
    left: 0;

    width: 100%;

    background: rgba(0, 0, 0, 0.5);
    color: white;

    text-align: center;

}

.material .name.displayed {
    display: block;
}
