/**
 * Material Browser (MBR) UI.
 *
 * Package: MBR extension for SketchUp
 *
 * Copyright: © 2025 Samuel Tallet
 *
 * Licence: GNU General Public License 3.0
 */

:root {
    /* Palette */
    --brown: #D77F41;
    --orange: #F4B24A;
    --dark-green: #6AB886;
    --light-blue: #45B0D8;
    --dark-blue: #3884C3;
    --purple: #6F4994;
    --light-green: #9BCB63;
    --dark-gray: #2D3843;
}

.tip-brown {
    --tip-bg-color: var(--brown);
}

.tip-orange {
    --tip-bg-color: var(--orange);
    --tip-text-color: black;
}

.tip-dark-green {
    --tip-bg-color: var(--dark-green);
    --tip-text-color: black;
}

.tip-light-blue {
    --tip-bg-color: var(--light-blue);
    --tip-text-color: black;
}

.tip-dark-blue {
    --tip-bg-color: var(--dark-blue);
}

.tip-purple {
    --tip-bg-color: var(--purple);
}

.tip-light-green {
    --tip-bg-color: var(--light-green);
    --tip-text-color: black;
}

.tip-dark-gray {
    --tip-bg-color: var(--dark-gray);
}

.tip-black {
    --tip-bg-color: black;
}

.clickable {
    cursor: pointer;
}

*:focus {
    outline: none;
}

.hidden {
    display: none !important;
}

body {
    font-family: Arial, sans-serif;
    font-size: 15px;
}

input[type="checkbox"] {

    position: relative;
    top: 2.5px;
    left: 0;

}

button {
    border-color: transparent;
    border-radius: 5px;

    padding: 5px;
    
    background-color: var(--dark-green);
    color: black;
}

input[type="text"],
select {

    padding: 5px;

    border-style: solid;
    border-color: rgb(221, 221, 221);
    border-width: 1px;
    border-radius: 5px;
    
}

#settings {
    display: none;

    min-width: 525px;

    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);

    font-size: 15px;
    text-align: center;
    
    z-index: 10;
}

#settings.displayed {
    display: block;
}

#settings .field {
    margin: 15px;
}

#settings .commit {
    margin-top: 25px;
}

#settings .commit:hover {
    transform: scale(1.1);
}

#loading {

    display: none;

    width: 100%;
    height: 100%;

    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);

    z-index: 10;

}

#loading.displayed {
    display: block;
}

#loading .logo {

    width: 100%;
    height: 100%;

    position: absolute;
    left: 0;
    top: -15px; /* Let room for text */

}

#loading .logo .card {
    transition: opacity .5s;
}

#loading .status {

    position: absolute;
    left: 0;
    bottom: 0;
    padding: 10px;

    font-size: 15px;

}

#toolbar {

    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    text-align: center;

    margin-top: 10px;

    z-index: 5;
}

#toolbar .icon {

    display: block;

    width: 24px;
    height: 24px;

    margin-top: 6px;

}

#toolbar .icon:hover {
    transform: scale(1.1);
}

#toolbar .vertical {

    position: absolute;
    top: 0;
    left: 0;

    width: 30px;

    margin-top: 6px;
    margin-left: 11px;

}

#toolbar .zoom .icon {
    margin-top: 0;
}

#toolbar .zoom .slider {
    height: 120px;

    max-width: 10px;
    margin-left: -6px;

    -webkit-appearance: slider-vertical; /* For Chrome 52 (SketchUp 2017) */
    appearance: auto;
    writing-mode: vertical-lr;
    direction: rtl;

    cursor: -webkit-grab; /* For Chrome 52 (SketchUp 2017) */
    cursor: grab;
}

#toolbar .search {
    margin-left: 16px;
}

#toolbar .filter-by-type {
    margin-left: 2px;
}

.list {

    list-style: none;

    margin-top: 50px;
    
}

.material {

    position: relative;
    display: inline-block;

    margin-right: 6px;

}

.material .tip {
    --tip-distance: 2px;
}

.material .tip::before {
    left: 21px;
    right: auto;
}

.material .source-logo {

    display: none;
    position: absolute;
    top: 5px;
    left: 5px;

    width: 32px;
    height: 32px;

    opacity: 0.8;

}

.material .source-logo.displayed {
    display: block;
}

.material .name {

    display: none;
    position: absolute;
    bottom: 4px;
    left: 0;

    width: 100%;

    background: rgba(0, 0, 0, .7);
    color: white;

    text-align: center;

}

.material:hover .name,
.material .name.displayed {
    display: block;
}
